setuptools>=65.5.1
wheel>=0.40.0
build>=0.10.0
gunicorn==20.1.0
flask==2.3.3
flask-cors==4.0.0
pandas==1.5.3
numpy==1.24.3
scikit-learn==1.2.2
nltk==3.8.1
tweepy==4.14.0
python-dotenv==1.0.0
plotly==5.13.1
dash==2.9.3
dash-bootstrap-components==1.4.1
wordcloud==1.9.2
ro-wordninja==0.1.0
ro-punctuator==0.1.0
ro-punctuation==0.1.0
ro-punctuation-restore==0.1.0
ro-punctuation-restorer==0.1.0